@page
@model AzureParentTestAccount.Pages.Pick

<a asp-page="LoginAz" asp-route-returnUrl="@Model.ReturnUrl">Login as an employee or student</a>
<a asp-page="LoginPa" asp-route-returnUrl="@Model.ReturnUrl">Login as a parent</a>